.carousel-not-loaded {
  .carousel-loading-fallback {
    width: 188px;
    height: 282px;

    display: flex;
    margin-right: 1.25rem;
    justify-content: center;
    align-items: center;

    background-color: #efefef;
  }

  img {
    display: none;
  }
}

.carousel-loaded {
  img {
    display: block;
    margin-right: 1.25rem;
  }

  .carousel-loading-fallback {
    display: none;
  }
}