.poster-image{
  max-height: 513px;
  max-width: 342px;
  margin: 0 1.25rem;
  @media screen and (max-width: 400px) {
    max-width: 300px
  }
}

.poster-not-loaded{
  .poster-image {
    display: none;
  }
  .poster-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 518px;
    width: 342px;
  
    margin: 0 1.25rem;
    background-color: #efefef;   
  }
}

.poster-loaded .poster-placeholder{
  display: none;
}
