* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  text-decoration: none;
  color: #222
}

button {
  padding: 0.625rem 0.9375rem;
  
  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.4;
  }
}

.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-b-5{
  margin-bottom: 0.3125rem;
}

.m-b-10{
  margin-bottom: 0.625rem;
}

.m-b-15{
  margin-bottom: 0.9375rem;
}

.m-b-20{
  margin-bottom: 1.25rem;
}

.m-t-5{
  margin-top: 0.3125rem;
}

.m-t-10{
  margin-top: 0.625rem;
}

.m-t-15{
  margin-top: 0.9375rem;
}

.m-t-20{
  margin-top: 1.25rem;
}
